@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700 &display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.hero-bg {
    background: #307D99 url('../images/bg.jpg');
    background-position: 6% 83%;
    color: white;
    text-align: center;
    padding-bottom: 4em;
}

header {
    padding-top: 1em;
}

.hero-bg a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.hero-bg p {
    font-weight: bold;
    margin: 0 1em 3em;
}

.form {
    background: white;
    margin: 2em 3em 0;
    padding: 2em;
    border-radius: 1.2em;
    box-shadow: black;
}

.form p {
    font-weight: normal;
    font-size: 0.9;
    color: gray;
    margin-top: 0.5em;
}

label {
    color: #2D7D98;
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.2em;
}

input[type="text"] {
    border: 1px solid #707070;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 0.6m;
    margin-top: 1.2em;
}

input[type="button"] {
    background: #F89104;
    border: none;
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
    padding: 1em;
    border-radius: 0.6em;
    cursor: pointer;
}

input[type="button"]:hover {
    background: #e68702;
}

section {
    margin: 0 1em;
}

h1 {
    font-size: 2em;
    margin: 2em 0 1.4em;
    text-transform: uppercase;
}

h1 span {
    display: block;
    font-size: 1.2rem;
    position: relative;
    z-index: 1;
}

h1 span::before {
    content: ' ';
    position: absolute;
    width: 3em;
    height: 0.4em;
    background: #00BFFF;
    bottom: 0;
    z-index: -1;
    margin-left: -0.3em;
}

.authentic {
    margin: 0;
    text-align: center;
}

.right-col {
    margin: 2em 2em 3em;
}

h2 {
    text-transform: uppercase;
    position: relative;
}

h2::before {
    content: ' ';
    position: absolute;
    width: 9em;
    height: 0.4em;
    z-index: -1;
    bottom: 0;
    margin-left: -0.3em;
    background: #00BFFF;
}

img {
    width: 100%;
}

p {
    line-height: 1.5em;
    font-weight: normal;
}

section.top {
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    form {
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media(min-width: 730px) {
    section {
        margin: 0 4em
    }
    h1 {
        font-size: 2.4em;
    }

    h1 span {
        font-size: 1.4rem;
    }
}

@media(min-width: 1100px) {
    .hero-bg {
        text-align: left;
    }

    h1 {
        font-size: 3em;
    }

    h1 span {
        font-size: 1.8rem;
    }

    .hero-bg p {
        margin: 0;
    }

    .hero-bg section {
        width: 65%;
    }

    .form {
        margin: 2em 0 0;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    }

    form {
        display: flex;
    }
    .form-left {
        width: 70%;
    }
    label {
        margin: 0;
    }
    input[type="button"] {
        height: fit-content;
        font-size: 1.1em;
        margin: 2.2em 1em;
        padding: 0.7em 0;
    }
    .form-left p {
        margin-top: 1em;
    }

    section.authentic {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "bowl content";
    }

    .right-col {
        grid-area: content;
        padding: 0 5%;
        text-align: left;
        align-self: center;
    }
    img {
        grid-area: bowl;
    }
}
